* {
  margin: 0;
}

body {
  overflow-y: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 25px;
}

.header .header__logo {
  height: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.header .header__left {
  white-space: nowrap;
}

.header .header__left .search-back-icon:hover {
  cursor: pointer;
}

.header .header__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #c9c9c9;
  -webkit-box-flex: 0.60;
      -ms-flex: 0.60;
          flex: 0.60;
  height: 38px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .header__center form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .header__center form input {
  height: 90%;
  border: none;
  margin-left: 20px;
  font-size: 17px;
  width: 100%;
}

.header .header__center form input:focus {
  outline: none;
  border: none;
  outline-width: 0;
}

.header .header__center form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.header .header__center form input:focus:-ms-input-placeholder {
  color: transparent;
}

.header .header__center form input:focus::-ms-input-placeholder {
  color: transparent;
}

.header .header__center form input:focus::placeholder {
  color: transparent;
}

.header .header__center .header__search-cont {
  width: 70px;
  height: 100%;
  background-color: #f9f9f9;
  border-left: 1px solid #c9c9c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__center .header__search-cont:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.header .header__center .header__search-cont .header__search-icon {
  color: gray;
}

.header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__right .search-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-radius: 50px;
}

.header .header__right .search-icon-container:hover {
  cursor: pointer;
}

.header .header__right .header__right__icon {
  margin-left: 25px;
}

.header .header__right .header__right__avatar {
  height: 32px;
  width: 32px;
}

.header .header__right .header__right__sign-in {
  margin-left: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: transparent;
  color: #696969;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 17px;
}

.header .header__right .header__right__sign-in:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.header .header__right .header__right__sign-in .sign-in__user-icon {
  margin-right: 10px;
}

.app__viewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app__viewer .sidebar {
  width: 240px;
  height: calc(100vh - 60px);
  scrollbar-width: thin;
  overflow-y: auto;
  scrollbar-color: #ffffff #ffffff;
  padding-top: 10px;
}

.app__viewer .sidebar:hover {
  scrollbar-color: #b5b5b5 #ffffff;
}

.app__viewer .sidebar .sidebar__more__section-header {
  margin-left: 28px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #656565;
}

.app__viewer .sidebar .sidebar__navlinks {
  color: black;
  text-decoration: none;
}

.app__viewer .sidebar .sidebar-navlink-selected > .sidebar__menu-item {
  background-color: #c5c5c569;
  font-weight: 600;
}

.app__viewer .sidebar .sidebar__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.app__viewer .sidebar .sidebar__menu-item:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.app__viewer .sidebar .sidebar__menu-item .sidebar__menu-item__icon {
  margin-left: 12px;
}

.app__viewer .sidebar .sidebar__menu-item .sidebar__menu-item_title {
  margin-left: 20px;
  font-size: 14px;
}

.app__viewer .sidebar .sidebar__hr {
  height: 1px;
  margin: 15px 0;
  border: 0;
  background-color: #e1e1e1;
}

.app__viewer .sidebar-sml {
  width: 72px;
}

.app__viewer .sidebar-sml .sidebar__navlinks {
  text-decoration: none;
  color: black;
}

.app__viewer .sidebar-sml .sidebar__navlinks .sidebar__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  padding: 16px 0;
}

.app__viewer .sidebar-sml .sidebar__navlinks .sidebar__menu-item .sidebar__menu-item__icon {
  margin-bottom: 5px;
}

.app__viewer .app__viewer__main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f9f9f9;
  height: calc(100vh - 60px);
  overflow-y: auto;
  scrollbar-color: #b5b5b5 #ffffff;
  scrollbar-width: thin;
}

.app__viewer .app__viewer__main.recommended {
  padding: 18px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.app__viewer .app__viewer__main.recommended .recommended__videoItem {
  width: 270px;
  padding: 0 8px 10px 8px;
}

.app__viewer .app__viewer__main.recommended .recommended__videoItem .videoItem__thumbnail {
  width: 100%;
}

.app__viewer .app__viewer__main.recommended .recommended__videoItem .videoItem__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app__viewer .app__viewer__main.recommended .recommended__videoItem .videoItem__details .videoItem__details__thumbnail {
  margin-right: 10px;
  width: 36px;
  height: 36px;
}

.app__viewer .app__viewer__main.recommended .recommended__videoItem .videoItem__details .info__title {
  font-weight: 600;
  font-size: 18px;
}

.app__viewer .app__viewer__main.recommended .recommended__videoItem .videoItem__details .info__channel,
.app__viewer .app__viewer__main.recommended .recommended__videoItem .videoItem__details .info__video-data {
  font-size: 14px;
}

.app__viewer .app__viewer__main.search {
  padding: 20px 35px;
}

.app__viewer .app__viewer__main.search .search__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7px;
}

.app__viewer .app__viewer__main.search .search__filter .search__filter__icon {
  margin-right: 5px;
}

.app__viewer .app__viewer__main.search .search__filter .search__filter__title {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__viewer .app__viewer__main.search .search__vidList__channel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  padding-right: 50px;
}

.app__viewer .app__viewer__main.search .search__vidList__channel-item .channel-item__channel-img {
  margin: 0 120px;
  height: 136px;
  width: 136px;
}

.app__viewer .app__viewer__main.search .search__vidList__channel-item .channel-item__channel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;
}

.app__viewer .app__viewer__main.search .search__vidList__channel-item .channel-item__channel-info .channel-info__channel-name {
  font-weight: 600;
}

.app__viewer .app__viewer__main.search .search__vidList__channel-item .channel-item__channel-info .channel-info__channel-stats {
  font-size: 12px;
}

.app__viewer .app__viewer__main.search .search__vidList__channel-item .channel-item__channel-info .channel-info__channel-desc {
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app__viewer .app__viewer__main.search .search__vidList__video-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 50px;
  margin-top: 16px;
}

.app__viewer .app__viewer__main.search .search__vidList__video-item .video-item__video-thumbnail {
  width: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}

.app__viewer .app__viewer__main.search .search__vidList__video-item .video-item__video-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
}

.app__viewer .app__viewer__main.search .search__vidList__video-item .video-item__video-info .video-info__title {
  font-weight: 600;
}

.app__viewer .app__viewer__main.search .search__vidList__video-item .video-item__video-info .video-info__video-stats {
  font-size: 12px;
}

.app__viewer .app__viewer__main.search .search__vidList__video-item .video-item__video-info .video-info__desc {
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app__viewer .some-content {
  color: #555555;
  margin: 28.1px;
  font-size: 12px;
  scroll-margin: 20px;
}
/*# sourceMappingURL=App.css.map */