* {
    margin: 0;
}

body {
    overflow-y: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;

    .header__logo {
        height: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .header__center {
        display: flex;
        align-items: center;
        border: 1px solid #c9c9c9;
        flex: 0.60;
        height: 38px;

        input {
            flex: 1;
            height: 90%;
            border: none;
            margin-left: 20px;
            font-size: 17px;

            &:focus {
                outline: none;
                border: none;
                outline-width: 0;
                
                &::placeholder {
                    color: transparent;
                }
            }
        }

        .header__search-cont {
            width: 70px;
            height: 100%;
            background-color: #f9f9f9;
            border-left: 1px solid #c9c9c9;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #f4f4f4;
                cursor: pointer;
            }

            .header__search-icon {
                color: gray;
            }
        }
    }

    .header__right {
        display: flex;
        align-items: center;

        .header__right__icon {
            margin-left: 25px;
        }
    }
}

.app__viewer {
    display: flex;

    .sidebar {
        flex: 0.17;
        height: calc(100vh - 60px);
        scrollbar-width: none;
        overflow-y: auto;
        scrollbar-color: #b5b5b5 #ffffff;

        &:hover {
            scrollbar-width: thin;
        }

        .sidebar__more__section-header {
            margin-left: 28px;
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 600;
            color: #656565;
        }

        .sidebar__menu-item {
            display: flex;
            align-items: center;
            padding: 15px;

            &:hover {
                background-color: #f2f2f2;
                cursor: pointer;
            }

            .sidebar__menu-item__icon {
                margin-left: 12px;
            }

            .sidebar__menu-item_title {
                margin-left: 20px;
                font-size: 14px;
            }
        }

        .sidebar__hr {
            height: 1px;
            margin: 15px 0;
            border: 0;
            background-color: #e1e1e1;
        }
    }

    .recommended {
        flex: 0.83;
        background-color: #f9f9f9;
    }

    .some-content {
        color: #555555;
        margin: 28.1px;
        font-size: 12px;
        scroll-margin: 20px;
    }
}

