* {
    margin: 0;
}

body {
    overflow-y: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;

    .header__logo {
        height: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .header__left {
        white-space: nowrap;
        .search-back-icon {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .header__center {
        display: flex;
        align-items: center;
        border: 1px solid #c9c9c9;
        flex: 0.60;
        height: 38px;
        user-select: none;
        
        form {
            flex: 1;

            input {
                height: 90%;
                border: none;
                margin-left: 20px;
                font-size: 17px;
                width: 100%;
    
                &:focus {
                    outline: none;
                    border: none;
                    outline-width: 0;
                    
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }

        .header__search-cont {
            width: 70px;
            height: 100%;
            background-color: #f9f9f9;
            border-left: 1px solid #c9c9c9;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #f4f4f4;
                cursor: pointer;
            }

            .header__search-icon {
                color: gray;
            }
        }
    }

    .header__right {
        display: flex;
        align-items: center;

        .search-icon-container {
            display: flex;
            align-items: center;
            padding: 8px;
            border-radius: 50px;

            &:hover {
                cursor: pointer;
            }
        }
        .header__right__icon {
            margin-left: 25px;
        }
        .header__right__avatar {
            height: 32px;
            width: 32px;
        }
        .header__right__sign-in {
            margin-left: 20px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid #aaa;
            background-color: transparent;
            color: #696969;
            display: flex;
            align-items: center;
            padding: 2px 17px;

            &:hover {
                cursor: pointer;
                background-color: #fafafa;
            }

            .sign-in__user-icon {
                margin-right: 10px;
            }
        }
    }
}

.app__viewer {
    display: flex;

    .sidebar {
        width: 240px;
        height: calc(100vh - 60px);
        scrollbar-width: thin;
        overflow-y: auto;
        scrollbar-color: #ffffff #ffffff;
        padding-top: 10px;
        
        &:hover {
            scrollbar-color: #b5b5b5 #ffffff;
        }

        .sidebar__more__section-header {
            margin-left: 28px;
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 600;
            color: #656565;
        }

        .sidebar__navlinks {
            color: black;
            text-decoration: none;
        }

        .sidebar-navlink-selected > .sidebar__menu-item {
            background-color: #c5c5c569;
            font-weight: 600;
        }

        .sidebar__menu-item {
            display: flex;
            align-items: center;
            padding: 15px;

            &:hover {
                background-color: #f2f2f2;
                cursor: pointer;
            }

            .sidebar__menu-item__icon {
                margin-left: 12px;
            }

            .sidebar__menu-item_title {
                margin-left: 20px;
                font-size: 14px;
            }
        }

        .sidebar__hr {
            height: 1px;
            margin: 15px 0;
            border: 0;
            background-color: #e1e1e1;
        }
    }
    .sidebar-sml {
        width: 72px;

        .sidebar__navlinks {
            text-decoration: none;
            color: black;

            .sidebar__menu-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 10px;
                padding: 16px 0;

                .sidebar__menu-item__icon {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .app__viewer__main {
        flex: 1;
        background-color: #f9f9f9;
        height: calc(100vh - 60px);
        overflow-y: auto;
        scrollbar-color: #b5b5b5 #ffffff;
        scrollbar-width: thin;

        &.recommended {
            padding: 18px 25px;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
    
            .recommended__videoItem {
                width: 270px;
                padding: 0 8px 10px 8px;

                .videoItem__thumbnail {
                    width: 100%;
                }
                .videoItem__details {
                    display: flex;

                    .videoItem__details__thumbnail {
                        margin-right: 10px;
                        width: 36px;
                        height: 36px;
                    }

                    .info__title {
                        font-weight: 600;
                        font-size: 18px;
                    }
                    .info__channel,
                    .info__video-data {
                        font-size: 14px;
                    }
                }
            }
        }

        &.search {
            padding: 20px 35px;

            .search__filter {
                display: flex;
                align-items: center;
                padding-bottom: 7px;

                .search__filter__icon {
                    margin-right: 5px;
                }
                .search__filter__title {
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                }
            }

            .search__vidList__channel-item {
                display: flex;
                align-items: center;
                margin-top: 16px;
                padding-right: 50px;

                .channel-item__channel-img {
                    margin: 0 120px;
                    height: 136px;
                    width: 136px;
                }
                .channel-item__channel-info {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    flex: 1;
                    min-width: 0;

                    .channel-info__channel-name {
                        font-weight: 600;
                    }
                    .channel-info__channel-stats {
                        font-size: 12px;
                    }
                    .channel-info__channel-desc {
                        height: 24px;
                        font-size: 12px;
                        line-height: 24px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }

            .search__vidList__video-item {
                display: flex;
                align-items: flex-start;
                padding-right: 50px;
                margin-top: 16px;

                .video-item__video-thumbnail {
                    width: 360px;
                    object-fit: cover;
                    margin-right: 20px;
                }
                .video-item__video-info {
                    display: flex;
                    flex-direction: column;
                    min-width: 0;

                    .video-info__title {
                        font-weight: 600;
                    }
                    .video-info__video-stats {
                        font-size: 12px;
                    }
                    .video-info__desc {
                        height: 24px;
                        font-size: 12px;
                        line-height: 24px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    .some-content {
        color: #555555;
        margin: 28.1px;
        font-size: 12px;
        scroll-margin: 20px;
    }
}
