* {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    .header__logo {
        height: 25px;
        margin-left: 20px;
    }

    .header__center {
        display: flex;
        align-items: center;

        input {
            flex: 1;
        }
    }

    .header__right {
        display: flex;
        align-items: center;
    }
}

.app__viewer {
    display: flex;

    .sidebar {
        flex: 0.17;
    }
}